@media (max-width:800px){
    body #icon{
        position:relative;
        margin:0;   
        padding:0;
    }
    
    body #bio{
        padding:0;
        text-align:center;
        transform:translateY(-75%);
    }
    
    body #home{
        margin:10px;
        width:95vw;
    }
}

body{
    background:{color:Background} url({image:Background}) center fixed;
    background-size:cover;
    margin:0;
    font:16px 'Yantramanav', sans-serif;
    color:#444;
}

a{
    text-decoration:none;
    color:#222;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

a:hover{
    color:#fff;
}

h1{
    color:#222;
    font-family:'Space Mono', monospace;
    font-size:42px;
}

h2{
    font-weight:bold;
}

p{
    line-height:30px;
}

.tmblr-iframe{
    display:none;
}

/*--Link Menu--*/

#nav{
    background:#222;
    position:fixed;
    width:0;
    height:100vh;
    top:0;
    right:0;
    padding-top:70px;
    letter-spacing:1px;
    z-index:99999;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

#nav a{
    display:block;
    color:#fff;
    margin:20px 20px 50px 0;
    text-align:right;
    text-transform:uppercase;
    font:30px 'Yantramanav', sans-serif;
    letter-spacing:2px;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

#nav a:hover{
    color:#444;
}

.openbtn{
    position:fixed;
    top:20px;
    right:15px;
    cursor:pointer;
    z-index:9999;
}

.openbtn svg{
    width:15px;
}

nav .closebtn{
    position:absolute;
    top:-10px;
    left:20px;
}

/*--Homepage--*/

#logo{
    position:fixed;
    width:50px;
    top:10px;
    left:10px;
    z-index:99999;
}

#home{
    width:100vw;
    height:100vh;
    margin:0;
}

#bio{
    max-width:500px;
    position:relative;
    top:50%;
    transform:translateY(-55%);
    padding-left:200px;
    margin:0 auto;
}

#icon{
    position:absolute;
    width:175px;
    margin-left:-200px;
    margin-top:-3px;
}

#title{
    font:bold 60px 'Space Mono', monospace;
    letter-spacing:2px;
    z-index:99;
}

#home p{
    line-height:24px;
}

/*--Intro Reflection--*/

#intro{
    background:{color:Background 2};
    position:relative;
    height:100vh;
    margin:0 auto;
}

#intro h1{
    display:inline-block;
    padding:0px 10px 0px 10px;
}

#intro p{
    margin-top:-5px;
}

#intro a{
    color:#8A3B1A;
    text-decoration:underline;
}

#line{
    position:absolute;
    background:#ccc;
    width:100vw;
    height:1px;
    margin-top:60px;
    left:0px;
    z-index:-99;
}

/*--Portfolio--*/

#portfolio{ 
    background:#F6F4EF;
    height:100%;
    margin:0 auto;
    padding:20px 5% 20px 5%;
}

#portfolio h1{
    text-align:center;
}

#portfolio p{
    text-align:center;
    margin:-10px 0px 35px 0px;
}

#works h2{
    text-transform:uppercase;
    letter-spacing:1px;
    text-align:center;
    margin-top:-1px;
}

.box{
    display:table-cell;
    width:50%;
    height:250px;
    border:1px solid {color:Boxes};
    vertical-align:middle;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.box:hover{
    background:{color:Boxes Hover};
    border-color:{color:Boxes Hover};
}

.box:hover a{
    color:#fff;
}

.box:hover a:hover{
    text-decoration:underline;
}

.row{
    display:table;
    width:100%;
    border-spacing:25px 10px;
}
